.Body {
  &-root {
    font-size: calc(16 * var(--base-ratio));
    font-style: normal;
    font-weight: 500;
    line-height: calc(18 * var(--base-ratio));
    margin-top: calc(8 * var(--base-ratio));
  }

  &-center {
    text-align: center;
  }

  &-grey {
    color: rgba(145, 143, 138, 1);
  }
}

.theme_light {
  .Body {
    &-grey {
      color: rgba(191, 191, 191, 1);
    }
  }
}
