.Headline {
  &-root {
    font-size: calc(30 * var(--base-ratio));
    font-style: normal;
    font-weight: 700;
    line-height: calc(32 * var(--base-ratio));
    letter-spacing: 0px;
    color: var(--color-black);

    & ~ .Body-root {
      margin-top: calc(8 * var(--base-ratio));
    }
  }

  &-center {
    text-align: center;
  }
}
