.Activity {
  &-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &-chart {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(34 * 12 * var(--base-ratio) + (17 * var(--base-ratio)));
    max-height: calc(13 * 7 * var(--base-ratio));
    width: 100%;
    margin-top: calc(18 * var(--base-ratio));
    height: 100%;
  }

  &-test {
    margin-top: calc(32 * var(--base-ratio));
    height: calc(38 * var(--base-ratio));
    width: 100%;
  }

  &-houre {
    position: relative;
    flex: 0 1 calc(34 * var(--base-ratio));

    &:nth-child(24n - 11) {
      margin-left: calc(17 * var(--base-ratio));
    }

    img {
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}
