* {
  box-sizing: border-box;
}

:root {
  --base-ratio: 100vw / 668;
  --base-radius: calc(6 * var(--base-ratio));
}

@media (max-width: 567px) {
  :root {
    --base-ratio: 100vw / 376;
  }
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgba(252, 251, 247, 1);
  background: radial-gradient(
    70.24% 70.24% at 49.87% 29.76%,
    rgba(19, 14, 0, 0.9) 0%,
    #000000 100%
  );
  -webkit-font-smoothing: antialiased;
}

p,
h1 {
  margin: 0;
}

img {
  filter: grayscale(1);
}

.theme_light {
  background: rgba(255, 255, 255, 1);
  color: rgba(38, 28, 0, 1);

  img {
    filter: none;
  }
}
