:root {
  --base-ratio: 100vw / 668;
  --base-radius: calc(6 * var(--base-ratio));

  img {
    filter: grayscale(1);
  }
}

@media (max-width: 567px) {
  :root {
    --base-ratio: 100vw / 376;
  }
}

:root {
  .theme_light {
    img {
      filter: none;
    }
  }
}
