.Vote {
  &-root {
    display: flex;
    padding: 0 calc(31.5 * var(--base-ratio));

    @media (max-width: 567px) {
      padding: 0 calc(24 * var(--base-ratio));
      padding-top: calc(4 * var(--base-ratio));
      padding-bottom: calc(4 * var(--base-ratio));
    }
  }

  &-wrap {
    flex: 1;
    display: flex;
  }

  &-areas {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr calc(64 * var(--base-ratio)) 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "area1 area2 nav-button-up area3 area4"
      "area1 area5 nav-button-down area6 area4";
    row-gap: calc(4 * var(--base-ratio));
    column-gap: calc(30 * var(--base-ratio));

    @media (max-width: 567px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "area1 nav-button-up area3"
        "area1 area2 area3"
        "area4 area2 area6"
        "area4 area5 area6"
        "area7 area5 area8"
        "area7 nav-button-down area8";
      column-gap: calc(8 * var(--base-ratio));
      row-gap: 1.23em;
    }
  }

  &-area {
    align-self: center;
    justify-self: start;
    cursor: pointer;
    border-radius: calc(6 * var(--base-ratio));

    @media (max-width: 567px) {
      justify-self: center;
    }

    &[data-nav="up"] {
      margin-top: calc(100% / 3 * 2);
      margin-bottom: calc(100% / 3 - (4 * var(--base-ratio)));

      @media (max-width: 567px) {
        justify-self: center;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[data-nav="down"] {
      margin-bottom: calc(100% / 3 * 2);
      margin-top: calc(100% / 3 - (4 * var(--base-ratio)));

      @media (max-width: 567px) {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    &:nth-child(2) {
      @media (max-width: 567px) {
        align-self: end;
        margin-bottom: calc(1 * var(--base-ratio));
      }
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(6) {
      justify-self: end;

      @media (max-width: 567px) {
        justify-self: center;
      }
    }

    &:nth-child(5) {
      @media (max-width: 567px) {
        align-self: start;
        margin-top: calc(1 * var(--base-ratio));
      }
    }

    &:nth-child(7) {
      align-self: end;

      & > button {
        margin-bottom: 40%;
      }

      @media (max-width: 567px) {
        align-self: center;
      }
    }

    &:nth-child(8) {
      align-self: start;

      & > button {
        margin-top: 40%;
      }

      @media (max-width: 567px) {
        align-self: center;
      }
    }

    &[data-active="true"] {
      background: radial-gradient(
        91.67% 122.17% at 69.17% -11.17%,
        #ffa300 0%,
        #2d1c00 100%
      );
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4),
        inset 0px 6px 15px rgba(255, 162, 0, 0.4);
    }

    &[data-active="false"] {
      &:hover {
        background: radial-gradient(
          85.62% 148.33% at 49.85% 100%,
          rgba(68, 58, 42, 0.7864) 0%,
          rgba(0, 0, 0, 0.8) 100%
        );
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2),
          inset 2px 2px 16px rgba(255, 255, 255, 0.1);
      }

      &:active {
        background: radial-gradient(
          91.67% 122.17% at 69.17% -11.17%,
          #ffa300 0%,
          #2d1c00 100%
        );
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4),
          inset 0px 6px 15px rgba(255, 162, 0, 0.4);
      }
    }

    &:nth-child(6) ~ *:not([data-nav]) {
      display: none;
    }

    @media (max-width: 567px) {
      &:nth-child(6) ~ *:not([data-nav]) {
        display: block;
      }

      &:nth-child(8) ~ *:not([data-nav]) {
        display: none;
      }
    }
  }

  &-navButton {
    border: 0;
    background: none;
    outline: 0;
    user-select: none;
    padding: 0;
    max-width: calc(64 * var(--base-ratio));
    max-height: calc(64 * var(--base-ratio));
    cursor: pointer;
    vertical-align: top;
    width: calc(64 * var(--base-ratio));
    height: calc(64 * var(--base-ratio));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/button-dark.svg");

    &[disabled],
    &:active {
      pointer-events: none;

      background-image: url("/assets/images/button-hover-dark.svg");
    }

    &--prev {
      transform: rotate(180deg);
    }
  }
}

.theme_light {
  .Vote {
    &-area {
      &[data-active="true"] {
        background: linear-gradient(180deg, #fff2d1 0.82%, #ffd66c 100%);
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
          inset 0px 0px 20px rgba(255, 176, 57, 0.8);
      }

      &[data-active="false"] {
        &:hover {
          background: linear-gradient(
            180deg,
            rgba(244, 244, 244, 0.9) 0.82%,
            #e9e9e9 100%,
            rgba(234, 234, 234, 0) 100%
          );
          box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
            inset 0px 0px 20px rgba(207, 207, 207, 0.5);
        }

        &:active {
          background: linear-gradient(180deg, #fff2d1 0.82%, #ffd66c 100%);
          box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
            inset 0px 0px 20px rgba(255, 176, 57, 0.8);
        }
      }
    }

    &-navButton {
      background-image: url("/assets/images/button-light.svg");

      &[disabled],
      &:active {
        background-image: url("/assets/images/button-hover-light.svg");
      }
    }
  }
}
